---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% if site.adsense == "enabled" %}
    {% include adsense-under-header.html %}
     {% endif %}
    {% for post in paginator.posts %}
      {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

