<div text-align=center>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4706145830093249"
    crossorigin="anonymous"></script>
<!-- ad_480_60 -->
<ins class="adsbygoogle"
    style="display:inline-block;width:480px;height:60px"
    data-ad-client="ca-pub-4706145830093249"
    data-ad-slot="6999714932"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GV9VPP4TEN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GV9VPP4TEN');
</script>


<script>
(function(xdb){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = xdb || {};
s.src = "\/\/obese-pin.com\/caD.9\/6Vbz2d5_lrSgWDQH9\/NdjnUH2hNLjMYXwrOdC\/0-2hN\/T\/YB2fNFjFAK5y";
s.async = true;
s.referrerPolicy = 'no-referrer-when-downgrade';
l.parentNode.insertBefore(s, l);
})({})
</script>
</div>